@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: #d84848;
    --bgc-02: #1da558;
    --bgc-02: rgb(29, 165, 88);
    --bgc-02: hsl(146, 70%, 38%);
    --txt-01: hsl(0, 0%, 90%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

img {
    display: block;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: var(--bgc-02);
}

header h1 {
    display: inline;
}

header img {
    width: 3rem;
}

header nav {
    justify-self: end;
}

header nav li {
    display: inline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

#act h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #fff;
}